<div *ngIf="apiError" class="p-3 text-center">
    <img class="little-sloth" src="../../../assets/sloth.png">
    <h1>Something went wrong..</h1>
    <span class="mat-caption">I'd like to say "Try again later" but this is just a little project. Nothing will
        change.</span>
</div>
<div id="posts_div">
    <ng-container *ngIf="(posts$ | async) as posts">
        <div class="mat-caption text-right">Number of posts:&nbsp;{{posts.length}}</div>
        <div *ngIf="posts.length > 0; else noData" (scroll)="onScroll($event)" class="list list-padding">
            <div class="box justify-content-start">
                <mat-card *ngFor="let post of (posts)" class="pointer" (click)="openDialog(post)">{{post?.title}}
                </mat-card>
            </div>
            <div class="text-center" *ngIf="isListScrollable && !isLoading && !foundEnd">
                <mat-icon [matTooltip]="tooltipText" matTooltipPosition="right" (click)="refresh()" class="pointer">
                    autorenew</mat-icon>
            </div>
        </div>
        <div *ngIf="isLoading" class="text-center pt-1">
            <img class="loader" src="../../../assets/giphy.webp">
        </div>
        <ng-template #noData>
            <div class="p-3 text-center">
                <img class="little-sloth inverted" src="../../../assets/sloth.png">
                <h1>There is nothing here..</h1>
            </div>
        </ng-template>
    </ng-container>
</div>