.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3em;
}

.px-1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.px-2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}
